{% extends 'base_user_menu.jinja2' %}

{% from 'macros/comments.jinja2' import render_single_comment with context %}
{% from 'macros/links.jinja2' import group_linked, username_linked %}
{% from 'macros/topics.jinja2' import render_topic_for_listing with context %}

{% block title %}User: {{ user.username }}{% endblock %}

{% block header_context_link %}
<a class="site-header-context" href="/user/{{ user.username }}">{{ user.username }}</a>
{% endblock %}

{% block main_heading %}{{ user.username }}'s recent activity{% endblock %}

{% block content %}

{% if merged_posts %}
  <ol class="post-listing">
  {% for post in merged_posts if request.has_permission('view', post) %}
    <li>
    {% if post is topic %}
      {{ render_topic_for_listing(post, show_group=True) }}
    {% elif post is comment %}
      <h2>Comment on <a href="{{ post.topic.permalink }}">{{ post.topic.title }}</a> in {{ group_linked(post.topic.group.path) }}</h2>
      {{ render_single_comment(post) }}
    {% endif %}
    </li>
  {% endfor %}
  </ol>
{% else %}
  <div class="empty">
    <h2 class="empty-title">This user hasn't made any posts</h2>
  </div>
{% endif %}

{% endblock %}

{% block sidebar %}
{% if user == request.user %}
  {{ super() }}
<hr>
{% endif %}

<h2>User info</h2>
<dl>
  <dt>Registered</dt>
  <dd>{{ user.created_time.strftime('%B %-d, %Y') }}</dd>
</dl>

{% if request.has_permission('message', user) %}
  <a href="/user/{{ user.username }}/new_message" class="btn btn-primary">Send a private message</a>
{% endif %}
{% endblock %}
